<div (click)="goback()">go back</div>
<p>
  im works!
</p>
<div>dahu01  e9cd9ed5e0202dbbde9ac5cb47605cef</div>
<div>dahu02  d38e8d098a3b29d7ac52dfe5185818fd</div>
<div>dahu3  d732ca851399ba8f6028cd4b350d68bf</div>

<input type="text" [(ngModel)]="accid" value="dahu01"><br>
<input type="text" [(ngModel)]="token" value=""><br>
<div (click)="connect()">connect</div>
<div (click)="disconnect()">disconnect</div>
toUserId: <input type="text" name="" id="" [(ngModel)]="toUserId"><br>
message: <input type="text" name="" id="" [(ngModel)]="message"><br>
<div (click)="onMsg()">send</div>
<div (click)="updateUnifo()">updateUnifo</div>