<!-- 提问头部 -->
<div class="pagePopup" *ngIf="isPopup">
    <div class="app-header"><span (click)="goBack(2)" routerActive='active'></span>
        <div class="head-title1">车型选择
        </div>
    </div>

<!-- <div class="section1">
  <h1>热门品牌</h1>
  <div class="hot">
      <div class="hotlist">
          <img src="../../../assets/consult/ava@2x.png" alt="车标">
          <p>斯柯达</p>
      </div>
      <div class="hotlist">
          <img src="../../../assets/consult/ava@2x.png" alt="车标">
          <p>斯柯达</p>
      </div>
      <div class="hotlist">
          <img src="../../../assets/consult/ava@2x.png" alt="车标">
          <p>斯柯达</p>
      </div>
      <div class="hotlist">
          <img src="../../../assets/consult/ava@2x.png" alt="车标">
          <p>斯柯达</p>
      </div>
      <div class="hotlist">
          <img src="../../../assets/consult/ava@2x.png" alt="车标">
          <p>斯柯达</p>
      </div>
      <div class="hotlist">
          <img src="../../../assets/consult/ava@2x.png" alt="车标">
          <p>斯柯达</p>
      </div>
      <div class="hotlist">
          <img src="../../../assets/consult/ava@2x.png" alt="车标">
          <p>斯柯达</p>
      </div>
      <div class="hotlist">
          <img src="../../../assets/consult/ava@2x.png" alt="车标">
          <p>斯柯达</p>
      </div>
      <div class="hotlist">
          <img src="../../../assets/consult/ava@2x.png" alt="车标">
          <p>斯柯达</p>
      </div>
      <div class="hotlist">
          <img src="../../../assets/consult/ava@2x.png" alt="车标">
          <p>斯柯达</p>
      </div>
  </div> -->

  <!-- <div class="aside">
      <a name="A">A</a>
      <a name="B">B</a>
      <a name="C">C</a>
      <a name="D">D</a>
      <a name="E">E</a>
      <a name="F">F</a>
      <a name="G">G</a>
      <a name="H">H</a>
      <a name="I">I</a>
      <a name="J">J</a>
      <a name="K">K</a>
      <a name="L">L</a>
      <a name="M">M</a>
      <a name="N">N</a>
      <a name="O">O</a>
      <a name="O">O</a>
      <a name="P">P</a>
      <a name="Q">Q</a>
      <a name="R">R</a>
      <a name="S">S</a>
      <a name="T">T</a>
      <a name="U">U</a>
      <a name="V">V</a>
      <a name="W">W</a>
      <a name="X">X</a>
      <a name="Y">Y</a>
      <a name="Z">Z</a>
  </div> -->

    <div class="list" id="list">
        <div *ngFor = "let carBrands of carBrandsList">
            <a href="">{{carBrands.cateId}}</a>
            <div class="listdetail" *ngFor="let carBrand of carBrands.carBrands">
                <a (click)="searchCarTree({oEM: carBrand.carName, level: 1})">
                    <div>
                        <img class="left" src="{{carBrand.carIcon}}" alt='test' onerror="this.src='http://mattrio-car-img.oss-cn-shanghai.aliyuncs.com/car_icon/jianghuai.jpg'" >
                        <div class="right">{{ carBrand.carName}}</div>
                    </div>
                </a>
            </div>
        </div>
    </div>

    <div class="popupBackground" *ngIf="carTrees.length > 0" (click)="goBack(1)"></div>
    <div class="popup" *ngIf="carTrees.length > 0">
        <!-- <div class="title">{{title}}</div> -->
        <div *ngFor="let carTree of carTrees" (click)="searchCarTree(carTree, carTree.level)">{{carTree.message}}</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
        <div>&nbsp;</div>
    </div>
</div>

